pre, pre input, textarea {
  font-family:courier;
  font-size:10pt;
  border-style:none;
}

.h3270-form { background-color:white;
              color:black; }

pre, pre input, textarea {
  background-color:white;
}

.h3270-input { color:green; background-color:lightgrey; }

.h3270-input-intensified { color:red; background-color:lightgrey; }

.h3270-intensified { color:blue; }

.h3270-input-hidden { color: lightgrey; background-color: lightgrey; }

.h3270-hidden { color: white; background-color: white; }

.h3270-unformatted {
  background-color: black;
  color: lightgreen;
  border: 1px solid #333;
  padding: 6px;
}

                     